@import '__var.scss';
@import '__fonts.scss';
@import '__breakpoints.scss';
@import 'Home.scss';
@import 'Event.scss';
@import 'Cart.scss';
@import 'CartConfirmation.scss';
@import 'Account.scss';

*, body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neue-haas-grotesk-text';
    font-size: $fontSize;
}

a
{
    text-decoration:none;
    color: $fontColor;
}

body {
    overscroll-behavior-y: none;
    background-color: $backgroundColor;
    color: $fontColor;
    user-select: none;

    .header
    {
        position:relative;
        z-index: 1000;
        padding: $padding*1.5  $padding*2;
        height: 90px;
        width:100%;

        nav
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $padding;
            height: 100%;
            width:100%;
            background: $elementBackground;
            border-radius: 10px;

            color: $mainColor;

            .nav_links
            {
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @include lg
                {
                    width: 20%;
                    justify-content: end;
                }

                a
                {
                    color: $fontColor;
                    margin: calc($padding/2);

                    @include lg
                    {
                        margin: $padding*2;
                    }

                    img
                    {
                        width: 30px;
                        height: 30px;

                        @include lg
                        {
                            height: 25px;
                            width: 25px;
                        }
                    }

                    div
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position:relative;

                        @include lg
                        {
                            width: 25px;
                            height: 25px;
                        }

                        .panier
                        {
                            display: none;
                            position:absolute;
                            align-items: center;
                            justify-content: center;
                            background: $mainColor;
                            padding: $padding;
                            border-radius: 50px;
                            text-align:center;
                            font-size: 12px;
                            color:$backgroundColor;

                            width: 8px;
                            height: 8px;
                            bottom: 20px;
                            left: 25px;

                            @include lg
                            {
                                width:15px;
                                height:15px;
                                bottom: 15px;
                                left: 20px;
                            }
                        }
                    }
                }

                .nav_theater
                {
                    height: 32px;
                    width:32px;

                    @include lg
                    {
                        height: 29px;
                        width: 29px;
                    }
                }
            }
        }
    }

}
