@import "__var.scss";

.marquee_wrapper
{
  position:relative;
  top: $padding;
  display: flex;
  width: 100vw;
  height: 200px;
  overflow:hidden;
  margin-bottom: 40px;

  @include lg
  {
    width: 100%;
  }

  .marquee
  {
    position: relative;
    height:100%;
    display: flex;
    align-items: center;
    overflow:hidden;
    margin-bottom: $padding;
    white-space: nowrap;

    border-bottom: 1px solid $mainColor;
    border-top: 1px solid $mainColor;
    padding: 30px 0;

    .marquee_item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 70px;
      width: fit-content;
      text-transform: uppercase;

      color: $mainColor;
      font-weight: 800;

      img
      {
        width: 200px;
        margin: 0 auto;
      }
    }
  }
}

.events_section_strong
{
  padding: 0 $padding * 2;
  strong
  {
    font-size: 27px;
  }
}


.events_section
{
  position:relative;
  width: 100vw;
  overflow-x: auto;
  display: flex;
  padding: $padding;

  &::-webkit-scrollbar
  {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  .event_container
  {
    width: 240px;
    height: 370px;
    background: $elementBackground;
    border-radius:10px;
    padding: $padding;
    margin: $padding;

    .event_cover
    {
      width:100%;
      height: 220px;
      overflow: hidden;
      border-radius: 5px;

      a
      {
        height: 100%;
        width:100%;
        display: flex;
        align-items: end;
        justify-content: center;

        img
        {
          height: 110%;
        }
      }
    }

    .event_price_category
    {
      display: flex;
      position:relative;
      left: 5px;
      bottom: 26px;
      padding: $padding 0;
      span
      {
        display: flex;
        align-items: center;

        width: fit-content;
        background: $mainColor;
        margin-right: $padding;

        border-radius: 5px;
        color: $fontColor;
        font-weight: 500;
        padding: calc($padding / 2) $padding * 1.5;

        .icon
        {
          position:relative;
          right: 8px;
          height: 25px;
        }
      }
    }

    .event_infos
    {
      height: 100px;
      justify-content: end;
      padding-bottom: $padding * 2;

      position:relative;
      display: flex;
      margin:auto;
      flex-direction: column;
      line-height: $fontSize * 1.5;

      .icon
      {
        height: 30px;
        margin-right: calc($padding / 2);
      }

      .event_title
      {
        position:relative;
        bottom: 5px;
        font-size: $fontSize * 1.2
      }

      .event_date
      {
        color: $mainColor;
      }

      span
      {
        display: flex;
        align-items: center;
        padding-right: $padding;
      }
    }
  }
}