@import "__var.scss";

.marquee_wrapper
{
  width:100vw;
  height: 200px;
  overflow: hidden;
  padding: $padding $padding * 2;

  .marquee_container
  {
    display: flex;
    align-items: center;
    width:100%;
    height:100%;
    background: $mainColor;
    padding: $padding;
    border-radius: 25px;
  }
}

.events_section
{
  position:relative;
  width: 100vw;
  overflow-x: scroll;
  display: flex;
  padding: $padding;

  &::-webkit-scrollbar
  {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  .event_container
  {
    width: 60vw;
    height: 370px;
    background: $elementBackground;
    border-radius:10px;
    padding: $padding;
    margin: $padding;

    .event_cover
    {
      width:100%;
      height: 220px;
      overflow: hidden;
      border-radius: 5px;
      display: flex;
      align-items: end;
      justify-content: center;

      img
      {
        height: 110%;
      }
    }

    .event_price_category
    {
      display: flex;
      position:relative;
      bottom: 26px;
      padding: $padding;
      span
      {
        display: flex;
        align-items: center;

        width: fit-content;
        background: $mainColor;
        margin-right: $padding;

        border-radius: 5px;
        color: $fontColor;
        font-weight: 500;
        padding: $padding / 2 $padding * 1.5;

        .icon
        {
          position:relative;
          right: 8px;
          height: 25px;
        }
      }
    }

    .event_infos
    {
      height: 100px;
      justify-content: end;
      padding-bottom: $padding * 2;

      position:relative;
      display: flex;
      margin:auto;
      flex-direction: column;
      line-height: $fontSize * 1.5;

      .icon
      {
        height: 30px;
        margin-right: $padding / 2;
      }

      .event_title
      {
        position:relative;
        bottom: 5px;
        font-size: $fontSize * 1.2
      }

      .event_date
      {
        color: $mainColor;
      }

      span
      {
        display: flex;
        align-items: center;
        padding-right: $padding;
      }
    }
  }
}